# Data Cleaning for Past DSA3101 Data (Data for 4 Semesters)

In [2]:
# load necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [60]:
# load data for 2120
data_2120 = pd.DataFrame(pd.read_excel("for_anonymising/2120/DSA3101 Project Preferences_February 27, 2022_17_edit.43_shared.xlsx"))
result_2120 = pd.DataFrame(pd.read_excel("for_anonymising/2120/student-preferences_shared.xlsx"))

# load data for 2210
data_2210 = pd.DataFrame(pd.read_excel("for_anonymising/2210/DSA3101-2210+Project+Preferences_February+13,+2025_11.01_shared.xlsx"))
result_2210 = pd.DataFrame(pd.read_excel("for_anonymising/2210/DSA3101-2210_project_allocations_canvas_shared.xlsx"))

# load data for 2220
data_2220 = pd.DataFrame(pd.read_excel("for_anonymising/2220/DSA3101-2220+Project+Preferences_February+13,+2025_11.02_shared.xlsx"))
result_2220 = pd.DataFrame(pd.read_excel("for_anonymising/2220/proj_pref_upload_shared.xlsx"))

# load data for 2310
data_2310 = pd.DataFrame(pd.read_excel("for_anonymising/2310/DSA3101-2310+Project+Preferences_February+13,+2025_11.03_shared.xlsx"))
result_2310 = pd.DataFrame(pd.read_excel("for_anonymising/2310/groupings_with_ic_shared.xlsx"))

In [63]:
data_2210.head(10)

,StartDate,EndDate,Progress,Duration (in seconds),Finished,RecordedDate,RecipientLastName,RecipientFirstName,RecipientEmail,ExternalReference,...,Individual_1,Q11#1_1,Q11#1_2,Q11#1_3,Q11#1_4,Q11#2_1,Q11#2_2,Q11#2_3,Q11#2_4,Q17
0,Start Date,End Date,Progress,Duration (in seconds),Finished,Recorded Date,Recipient Last Name,Recipient First Name,Recipient Email,External Data Reference,...,Please type your user id below (e0xxxxxx). - M...,Rank your project and sub-group preference (1s...,Rank your project and sub-group preference (1s...,Rank your project and sub-group preference (1s...,Rank your project and sub-group preference (1s...,Rank your project and sub-group preference (1s...,Rank your project and sub-group preference (1s...,Rank your project and sub-group preference (1s...,Rank your project and sub-group preference (1s...,If you had to choose between the sub-group typ...
1,"{""ImportId"":""startDate"",""timeZone"":""Asia/Hong_...","{""ImportId"":""endDate"",""timeZone"":""Asia/Hong_Ko...","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""Asia/Ho...","{""ImportId"":""recipientLastName""}","{""ImportId"":""recipientFirstName""}","{""ImportId"":""recipientEmail""}","{""ImportId"":""externalDataReference""}",...,"{""ImportId"":""QID16_1""}","{""ImportId"":""QID11#1_1""}","{""ImportId"":""QID11#1_2""}","{""ImportId"":""QID11#1_3""}","{""ImportId"":""QID11#1_4""}","{""ImportId"":""QID11#2_1""}","{""ImportId"":""QID11#2_2""}","{""ImportId"":""QID11#2_3""}","{""ImportId"":""QID11#2_4""}","{""ImportId"":""QID17""}"
2,2022-09-05 11:43:59,2022-09-05 11:44:25,100,26,True,2022-09-05 11:44:26,NaN,NaN,NaN,NaN,...,NaN,AI Assistant,Data science jobs,Transport Modeling with Agents,NaN,Modeling,Front-end,No preference,NaN,Sub-group type is more important
3,2022-09-06 11:44:33,2022-09-06 11:45:18,100,45,True,2022-09-06 11:45:18,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-09-06 12:06:12,2022-09-06 12:06:40,100,28,True,2022-09-06 12:06:41,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2022-09-06 12:33:39,2022-09-06 12:34:01,100,22,True,2022-09-06 12:34:02,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2022-09-06 14:01:07,2022-09-06 14:01:29,100,22,True,2022-09-06 14:01:29,NaN,NaN,NaN,NaN,...,e0538403,No preference,NaN,NaN,NaN,Front-end,NaN,NaN,NaN,Sub-group type is more important
7,2022-09-06 14:34:17,2022-09-06 14:34:46,100,29,True,2022-09-06 14:34:47,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2022-09-06 14:50:43,2022-09-06 15:04:04,100,801,True,2022-09-06 15:04:04,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2022-09-06 13:50:32,2022-09-06 15:22:40,100,5527,True,2022-09-06 15:22:40,NaN,NaN,NaN,NaN,...,e0415683,LTA traffic,Data science jobs,AI Assistant,Transport Modeling with Agents,Modeling,Modeling,Modeling,No preference,Project title is more important

In [61]:
result_2120['student_id'] = range(len(result_2120))
result_2120

     User ID Project-group Sub-group  student_id
0   e0425598        01-air         f           0
1   e0425065        01-air         f           1
2   e0426160        01-air         f           2
3   e0426265        01-air         f           3
4   e0425536        01-air         m           4
..       ...           ...       ...         ...
56  e0415653    08-traffic         f          56
57  e0425981    08-traffic         m          57
58  e0406868    08-traffic         m          58
59  e0406349    08-traffic         m          59
60  e0407795    08-traffic         m          60

[61 rows x 4 columns]

In [ ]:
# anonymization of student ID
mapping_dict = dict(zip(result_2120["User ID"], result_2120["student_id"]))
group_columns = ["Group members_1", "Group members_2", "Group members_3", "Group members_4", "Individual_1"]
data_2120[group_columns] = data_2120[group_columns].applymap(lambda x: mapping_dict.get(x, x) if pd.notna(x) else x)

# formulating is_selfformed_grp binary indicator from Q1 column
self_formed_grp_mapping = {
        'I am on my own, and looking for a group to join.': 0,
        'I have a group (at least 2 including myself) of people I would like to work with.': 1
    }

data_2120['is_self_formed_grp'] = data_2120['Q1'].replace(self_formed_grp_mapping) 
data_2120 = data_2120.drop(columns = "Q1", inplace = False)
data_2120 = data_2120.dropna(subset=group_columns, how = "all") #drop rows where all values in group columns are NaN
data_2120

,Group members_1,Group members_2,Group members_3,Group members_4,Individual_1,Q11#1_1,Q11#1_2,Q11#1_3,Q11#1_4,Q11#2_1,Q11#2_2,Q11#2_3,Q11#2_4,is_self_formed_grp
0,NaN,NaN,NaN,NaN,e056563,FIFA video highlights,Storm cell tracking,NaN,NaN,Modeling team,Front-end team,NaN,NaN,0
1,16,15,17,NaN,NaN,Customer analytics,Storm cell tracking,Airline delay,Heavy traffic,Front-end team,Front-end team,Front-end team,Front-end team,1
2,NaN,NaN,NaN,NaN,60,Heavy traffic,Airline delay,Storm cell tracking,FIFA video highlights,Modeling team,Modeling team,Modeling team,Modeling team,0
4,NaN,NaN,NaN,NaN,56,FIFA video highlights,Heavy traffic,Airline delay,Customer analytics,No preference,No preference,No preference,No preference,0
6,23,24,NaN,NaN,NaN,Customer analytics,Customer analytics,Heavy traffic,Storm cell tracking,Front-end team,Modeling team,Front-end team,Front-end team,1
7,NaN,NaN,NaN,NaN,49,Customer analytics,Storm cell tracking,Heavy traffic,Airline delay,Modeling team,Modeling team,Front-end team,Modeling team,0
8,NaN,NaN,NaN,NaN,55,Customer analytics,Heavy traffic,Storm cell tracking,Airline delay,No preference,No preference,No preference,No preference,0
9,38,39,37,40,NaN,FIFA video highlights,Heavy traffic,Storm cell tracking,Customer analytics,Front-end team,Front-end team,Front-end team,Front-end team,1
10,4,5,NaN,NaN,NaN,Customer analytics,Airline delay,Heavy traffic,Storm cell tracking,Modeling team,Modeling team,Modeling team,Modeling team,1
11,4,5,NaN,NaN,NaN,Customer analytics,Airline delay,Heavy traffic,Storm cell tracking,Modeling team,Modeling team,Modeling team,Modeling team,1
12,NaN,NaN,NaN,NaN,14,Airline delay,Customer analytics,Airline delay,Storm cell tracking,Modeling team,Modeling team,Front-end team,Modeling team,0
13,13,12,11,NaN,NaN,Customer analytics,Airline delay,Heavy traffic,Storm cell tracking,Modeling team,Modeling team,Modeling team,Modeling team,1
14,12,11,e0406559,NaN,NaN,Customer analytics,Airline delay,Heavy traffic,Storm cell tracking,Modeling team,Modeling team,Modeling team,Modeling team,1
15,NaN,NaN,NaN,NaN,8,Airline delay,Customer analytics,NaN,NaN,No preference,No preference,NaN,NaN,0
16,41,44,42,43,NaN,FIFA video highlights,Airline delay,Heavy traffic,Airline delay,Modeling team,Modeling team,Modeling team,Front-end team,1
18,6,7,NaN,NaN,NaN,Airline delay,Customer analytics,Airline delay,Customer analytics,Front-end team,Modeling team,Modeling team,Front-end team,1
20,27,28,26,NaN,NaN,Airline delay,Customer analytics,Airline delay,Customer analytics,Front-end team,Front-end team,Modeling team,Modeling team,1
21,22,19,21,NaN,NaN,Customer analytics,Airline delay,NaN,NaN,Modeling team,Modeling team,NaN,NaN,1
22,NaN,NaN,NaN,NaN,29,Customer analytics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
23,NaN,NaN,NaN,NaN,29,Customer analytics,Airline delay,Storm cell tracking,Heavy traffic,No preference,No preference,No preference,No preference,0
25,NaN,NaN,NaN,NaN,54,FIFA video highlights,Heavy traffic,Storm cell tracking,Customer analytics,No preference,No preference,No preference,No preference,0
26,E0425355,E0407700,E0425599,E0425873,NaN,FIFA video highlights,Storm cell tracking,Heavy traffic,Airline delay,No preference,No preference,No preference,No preference,1
27,NaN,NaN,NaN,NaN,51,Storm cell tracking,Storm cell tracking,Customer analytics,Airline delay,Modeling team,Front-end team,No preference,No preference,0
29,33,36,35,34,NaN,Customer analytics,Heavy traffic,Airline delay,Storm cell tracking,Modeling team,Modeling team,Modeling team,Modeling team,1
30,21,19,22,20,NaN,Customer analytics,Customer analytics,Airline delay,Airline delay,Modeling team,Front-end team,Modeling team,Front-end team,1

In [25]:
result_2210.head(10)

  Student SIS ID     Project Sub-group
0       e0556751    01-agent     front
1       e0563998    01-agent     front
2       e0550576    01-agent     front
3       e0392530    01-agent     front
4       e0560112    01-agent  modeling
5       e0538387    01-agent  modeling
6       e0538410    01-agent  modeling
7       e0550584    01-agent  modeling
8       e0538440  02-ai-asst     front
9       e0492526  02-ai-asst     front

In [26]:
result_2220.head(10)

  Student.SIS.ID    Project  Sub-group
0       e0550464  01-course  front-end
1       e0535078  01-course  front-end
2       e0538200  01-course  front-end
3       e0559209  01-course   modeling
4       e0538331  01-course   modeling
5       e0556738  01-course   modeling
6       e0563856  01-course   modeling
7       e0559951  02-course  front-end
8       e0564891  02-course  front-end
9       e0538295  02-course  front-end

In [27]:
result_2310.head(10)

                email       group   role
0  e0774424@u.nus.edu  01-library  front
1  e0774951@u.nus.edu  01-library   back
2  e0773677@u.nus.edu  01-library   back
3  e0725999@u.nus.edu  01-library   back
4  e0538414@u.nus.edu  01-library  front
5  e0774573@u.nus.edu  01-library   back
6  e0772781@u.nus.edu  01-library  front
7  e0725247@u.nus.edu  01-library  front
8  e0772750@u.nus.edu  02-library  front
9  e0726704@u.nus.edu  02-library  front